In [49]:
import numpy as np
# series_1 = [9, 2, 1, 10, 5, 2 ,2, 8, 6, 2]

# series_2 = [8, 8, 1, 1, 2, 2, 2, 1, 1, 8]

In [50]:
sum(series_1)/len(series_1)

4.7

In [51]:
sum(series_2)/len(series_2)

4.7

In [52]:
np.mean(series_1)

4.7

In [53]:
np.median(series_1)

3.5

In [54]:
np.mean(series_2)

4.7

In [55]:
np.median(series_2)

3.5

In [56]:
series_3 = [9, 2, 1, 10, 5, 2 ,2, 8, 6, 2]

series_4 = [8, 8, 1, 1, 2, 2, 2, 1, 1, 8]

In [57]:
np.std(series_3)

3.1953090617340916

In [58]:
np.std(series_4)

3.0397368307141326

In [59]:

# Import numpy library 
import numpy as np 
  

# First quartile (Q1) 
Q1 = np.percentile(series_3, 25, interpolation = 'midpoint') 
  
# Third quartile (Q3) 
Q3 = np.percentile(series_3, 75, interpolation = 'midpoint') 
  
# Interquaritle range (IQR) 
IQR1 = Q3 - Q1

In [60]:
IQR1

5.0

In [61]:

# Import numpy library 
import numpy as np 
  
series_4 = [9, 2, 1, 10, 5, 2 ,2, 8, 6, 2]
  
# First quartile (Q1) 
Q4 = np.percentile(series_4, 25, interpolation = 'midpoint') 
  
# Third quartile (Q3) 
Q5 = np.percentile(series_4, 75, interpolation = 'midpoint') 
  
# Interquaritle range (IQR) 
IQR2 = Q5 - Q4

In [62]:
IQR2

5.0